/* import font api */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap');

/* create variables for the css doc */
:root {
    --gradient-primary: linear-gradient(to right, #f6d365 0%, #fda085 100%);
    --gradient-secondary: linear-gradient(to right, #65f6d9 0%, #d9a495 100%);
    --primary-bg-color: #131417;
    --secondary-bg-color: #383535;
    --tertiary-bg-color: #383232;
    --transparent-bg-color-dark-dark: rgba(0, 0, 0, 0.75);
    --transparent-bg-color-dark: rgba(0, 0, 0, 0.45);
    --transparent-bg-color-light: rgba(0, 0, 0, 0.5);
    --color-primary: #00bcd4;
    --color-secondary: #fafafa;
    --color-tertiary: #9ac9f0;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Merriweather', sans-serif;
    --font-tertiary: 'Monserrat', sans-serif;
    --hover-light-color: #ff3434;
    /* https://www.pixelconverter.com/pixel-to-percentage-converter/ */
    /* https://elementor.com/help/whats-the-difference-between-px-em-rem-vw-and-vh/#:~:text=While%20PX%2C%20EM%2C%20and%20REM%20are%20primarily%20used,height%2C%20or%20the%20full%20height%20of%20the%20screen. */
    --font-size-primary: 1.2rem; /* 1.2rem = 18px = 125% */
    --font-size-secondary: 1.6rem; /* 1.6rem = 24px = 10% */
    --font-size-tertiary: 2.4rem; /* 2.4rem = 36px = 225% */
    --font-size-quaternary: 3.2rem; /* 3.2rem = 48px = 300% */
    --font-size-quinary: 4.2rem; /* 4.2rem = 60px = 375% */
    --font-size-senary: 5.2rem; /* 5.2rem = 72px = 450% */
    --gap: 1.5rem;  /* 2rem = 24px = 150% */
    --gap-double: 3rem; /* 4rem = 48px = 300% */ 
    --gap-2: 2rem; /* 4rem = 48px = 300% */
    --gap-2-double: 4rem; /* 4rem = 48px = 300% */
    --margin-small: 2rem; 
    --margin-medium: 3rem;
    --item-height-small: 20rem; 
    --item-height-medium: 30rem; 
    --item-height-large: 40rem; 
}  

/* universal styling */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    
}

/* body {
    background-color: var(--secondary-bg-color);
    margin: 0;
    padding: 0;
} */

/* screen sizes (resposive viewports) */
@media screen and (max-width: 550px) {
    .new-article-grid-layout {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 2fr 1.2fr 1.2fr 1.2fr 1.5fr ;
        grid-template-areas:
            "nav"
            "main"
            "content-01"
            "content-02"
            "content-03"
            "aside" 
            "footer"  
    }
    .new-article-items{
        border-right: .4rem solid var(--primary-bg-color);
        border-left: .4rem solid var(--primary-bg-color);
    }
}


    





 

    
   

/* <!-- Logo -->  */

    


/* <!-- Nav bar styling --> */

/* <!-- main --> */

/* <!-- sidebar --> */

/* <!-- content --> */

/* <!-- footer --> */
