/* meedia querry and  viewport breakpoints for responsive design */

/* images is > = 320px */
@media screen and (min-width:370px) { 
    .banner-image {
        height: 160px;
        object-fit: cover;
    } 
}

/* image is > = 576 */
@media screen and (min-width: 576px) { 
    .banner-image {
        height: 170px;
        object-fit: cover;
    } 
}

/* image is > = 576 */
@media screen and (min-width: 700px) { 
    .banner-image {
        height: 180px;
        object-fit: coontain;
    } 
}
    
/* .fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;} */

