
/* <!--    nav-bar container   --> */
nav {
    position: relative;
    background: var(--primary-bg-color);  
    height: 80px;
    width: 100%;
    /* margin: 0 .2rem; */
}

.logo-wrapper {
    position: relative;
    line-height: 80px;
    padding: 0 50px;
    align-items: center;
    width: 100%;
    left: 1rem;
    top: .5rem; /* this will push the wrapper down to centralise the image */
    
}

.logo-wrapper .logo-image {
    line-height: 80px;
    background: rgb(200, 205, 210);
    cursor: pointer;
    padding: 2px 100;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
   
}

.logo-wrapper .logo-image:hover {
    opacity: .5;
}

nav ul {
   float: right;
   margin-right: 100px; 
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--color-secondary);
    color: var(--color-secondary);
    font-size: 17px;
    right: 40px; /* this will push the links to the left away from the icons */   
    
}


/* inputs  and buttons */
.checkbox-btn {
    font-size: 2rem;
    color: var(--color-secondary);
    cursor: pointer;
    margin-right: 40px;
    float: right;
    line-height: 80px;
    display: none; /* the search/menu or checkbox icon is set to this difault and will appear the 
                    when the screen is smaller than the breakpoint  
                    this is to avoid the icon being displayed on the nav bar on larger  screen */
                    
}

#checkbox{ /*<!-- the id checkbox is used to activate the menu icon,
            which will then populate the screen. this  function will be done in js or css -->*/
    display: none;  
}

.nav-icon-wrapper .close-icon-btn  {
    font-size: 2rem;
    color: var(--color-secondary);
    cursor: pointer;
    position: absolute;
    /* margin-right: 40px; */  /* this will move the icon 40px left to the search icon */
    right: 40px; 
    top: 0;
    line-height: 80px;
    display: none;/* the close icon is set to this difault and will appear when the menu button 
                    is clicked. this action will hide the menu  button and the close button  will
                     be used asa reverse action. CAN BE DONE IN CSS  OR JS*/
}

.nav-icon-wrapper .search-icon-btn {
    font-size: 2rem;
    color: var(--color-secondary);
    cursor: pointer;
    position: absolute;
    right: 40px; 
    top: 0;
    line-height: 80px;
}

@media screen and (max-width: 736px) {
    ul {
        position: fixed;
        top: 80px;
        left: 0;
        background: var(--transparent-bg-color-dark-dark);
        width: 100%;
        height: 100%;
        z-index: 20;
        padding: 0;
        margin: 0;
        text-align: center;
        left : -100%;
        transition: all .8s ease-in-out;  /* this will make the menu slide in and out (this affects the code in line 122)*/
    }
    nav ul li {
        display: block;
        margin: 0 auto;
    }
    nav ul li a {
        display: block;
        text-align: center;
    }
   

    #checkbox:checked ~ ul { /*<!-- this will show the menu when the checkbox is checked, which done  -->*/
        left: 0;
        
    }



    .checkbox-btn {
        display: block;
    }
    .search-icon-btn {
        right: 40px;
        margin-right: 40px; /*this will push the search icon to the left away from the menu icon */ 
    }

  
}

@media screen and (max-width: 450px) {
    .checkbox-btn {
        display: block;
        margin-right: 20px
    }
    .search-icon-btn {
        right: 40px;
        margin-right: 20px; /*this will push the search icon to the left away from the menu icon */   
    }
    .logo-wrapper {
        position: relative;
        line-height: 80px;
        width: 100%;
        left: 1px;
    }
}
    




/* <!-- main --> */

/* <!-- sidebar --> */

/* <!-- content --> */

/* <!-- footer --> */
